.creator-grid-wrap {
  .ag-theme-balham .ag-root-wrapper {
    border: none;
  }
}
.ag-theme-balham {
  .ag-filter-toolpanel-search {
    display: none;
  }
  .ag-filter-toolpanel-group-level-0 {
    border-top: none;
  }
  .ag-group-title-bar {
    background-color: transparent;
  }
  .ag-filter-toolpanel-instance-filter {
    border-top: none;
    border-bottom: none;
    margin-top: 0;
  }

  // 参考salesforce调试resize样式，未成功。
  // .ag-header-cell-resize {
  //   position: absolute;
  //   right: -0.75rem;
  //   top: 0;
  //   width: 1.5rem;
  //   height: 100%;
  //   display: block;
  //   cursor: col-resize;
  //   z-index: var(--lwc-zIndexPopup,5000);
  //   &:before {
  //     background-color: var(--lwc-tableColorBackgroundHeaderResizableHandle,rgb(176, 173, 171));
  //     height: 100%;
  //     width: var(--lwc-borderWidthThin,1px);
  //     height: 100%;
  //     content: ' ';
  //     display: block;
  //     position: absolute;
  //     top: 0;
  //     right: var(--lwc-spacingSmall,0.75rem);
  //   }
  //   &:hover:before, &:focus:before, &:active:before {
  //     background-color: var(--lwc-colorBackgroundButtonBrand,rgb(1, 118, 211));
  //     width: var(--lwc-spacingXxSmall,0.25rem);
  //   }
  //   &:after {
  //     background-color: var(--lwc-colorBackgroundButtonBrand,rgb(1, 118, 211));
  //     width: var(--lwc-borderWidthThin,1px);
  //     height: 100vh;
  //     opacity: 0;
  //     height: 100%;
  //     content: ' ';
  //     display: block;
  //     position: absolute;
  //     top: 0;
  //     right: var(--lwc-spacingSmall,0.75rem);
  //   }
  //   &:hover:after, &:focus:after, &:active:after {
  //     opacity: 1;
  //   }
  // }
  
} 