.App {
  text-align: center;
}
.main-container {
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-pro-card,
.ant-pro-card-tabs,
.ant-tabs,
.ant-tabs-content,
.ant-pro-table {
  height: 100%;
}

.ant-pro-card-tabpane > .ant-pro-card > .ant-pro-card-body {
  padding: 12px;
}

/* tree下拉框手机端样式调整 */
@media (max-width: 768px){
  .ant-dropdown{
      width: 100%;
  }
}