// 选中的选项附带的icon样式
.ant-select {
    .ant-select-selection-item{
        display: flex;
        // 单选
        .anticon-smile{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 7px;
        }
        // 多选
        .ant-select-selection-item-content{
            display: flex;
        }
    }
}
// 下拉框中选项附带的icon样式
.rc-virtual-list-holder-inner{
    .ant-select-item-option-content{
        display: flex;
        .anticon-smile{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 7px;
        }
    }
}