.object-table {
  .ant-pro-table-search {
    // margin-bottom: 0;
    // padding-left: 0;
    // padding-right: 0;
    form {
      width: 100%;
      .ant-row {
        width: 100%;
      }
    }
    .ant-form-item {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
      -webkit-font-feature-settings: "tnum";
      font-feature-settings: "tnum", "tnum";
      margin-bottom: 24px;
      vertical-align: top;
    }
  }
  .ant-card-body {
    padding-left: 0;
    padding-right: 0;
  }
  .ant-table-tbody > tr:last-child > td {
    border: none;
  }
}
