.object-expand-table {
  > .ant-pro-card-body {
    position: relative;
  }
  .expand-part {
    margin-right: 12px;
    background-color: rgb(240, 240, 240);
    height: 100%;
    overflow-x: hidden;
    display: inlin;
    position: absolute;
    .ant-tree {
      background: transparent;
    }
    .ant-pro-card-body {
      padding: 12px;
      padding-left: 4px;
    }
  }

  .table-part {
    padding-left: 12px;
    margin-left: 30%;
    .ant-pro-table-search {
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 12px;
    }
    .ant-card-body {
      padding-right: 0;
    }
    .ant-table-tbody > tr:last-child > td {
      border: none;
    }
  }
}
