.ant-modal-content{
  height: 100%;
  .ant-modal-body{
    // TODO: modal的中间body高度设置，108px后续要修改成灵活设置的变量值
    height: calc(100% - 108px);
    padding: 12px;
    .ant-pro-card{
      height: 100%;
    }
  }
}