/* 新建窗口关闭按钮样式优化 */
.ant-modal-content .ant-modal-close{
    outline: none;
}
.ant-modal-root .ant-modal-content .ant-modal-close .ant-modal-close-x{
    margin-top: -3px !important;
}

/* 将这些代码迁移到此，后续再划分到各个组件中去 */

.ant-pro-sider-logo{
  display: block !important;
  /* padding: 0  !important; */
}

.slds-context-bar{
    height: 48px;
    line-height: 48px;
    background: #001529;
    color: rgba(255, 255, 255, 0.65);
    border-top: 2px solid rgb(68,70,81)!important;
    border-bottom: 0px;
}
.ant-layout-sider-collapsed .slds-context-bar{
  padding-left: 7px;
  margin-left: 0px !important;
}
/*左侧菜单样式--start--*/
.ant-layout-sider-dark .slds-context-bar{
  background: rgb(48,49,63)!important;
}
.ant-layout-sider-dark .ant-menu{
  background: rgb(48,49,63)!important;
}
.ant-layout-sider-dark .ant-menu .ant-menu-item .ant-pro-menu-item-title{
  color: #adb3b8!important;
}
/* .ant-layout-sider-dark .ant-menu .ant-menu-item:hover{
  background: #3c4a57!important;
} */
.ant-layout-sider-dark .ant-menu .ant-menu-item:hover .ant-pro-menu-item-title{
  color: #fff!important;
}
.ant-layout-sider-dark .ant-menu .ant-menu-item.ant-menu-item-selected{
  background: rgb(77,78,90)!important;
}
.ant-layout-sider-dark .ant-menu .ant-menu-item.ant-menu-item-selected .ant-pro-menu-item-title{
  color: #fff!important;
}
.ant-layout-sider-dark .ant-menu .ant-menu-item .ant-pro-menu-item .anticon{
  float: left;
  margin-top: 12px;
}
.ant-layout-sider-dark .ant-menu .ant-menu-submenu .ant-pro-menu-item .anticon{
  /*多层菜单图标样式*/
  float: left;
  margin-top: 12px;
}
.ant-layout-sider-collapsed .ant-pro-menu-item .anticon{
  margin-top: 0px !important;
}
/*左侧菜单样式--end--*/

/* 详细界面子表列表内部间隔太大了 */
.ant-pro-page-container-children-content .ant-pro-page-container-children-content{
  margin-top: 0;
}

.ant-page-header-heading-extra .anticon-ellipsis{
  margin-top: 7px;
}
/* 左上角logo样式处理 */
.ant-pro-sider-logo{
  background: rgb(48,49,63);
  padding:  8px 24px 8px 24px !important;
}
.ant-layout-sider-collapsed .ant-layout-sider-children .ant-pro-sider-logo{
  display: none !important;
}
.ant-layout-sider .ant-pro-sider-extra-no-logo{
  margin-top:0px;
}  
/*左上角logo下面的应用按钮边距太大*/
.ant-layout-sider-children .ant-pro-sider-extra{
  margin-bottom: 0;
  padding: 0;
}

/*左上角logo下面的应用启动器按钮边距左对齐*/
.ant-layout-sider-children .ant-pro-sider-extra .slds-context-bar{
  margin-left: -5px; 
}
/* logo下 九宫格旁边文字过长设置width用已存在的 ... 设置显示出来 */
.ant-layout-sider .slds-context-bar__primary{
    width: 100%;
}
/* 如果不写 102% ，显示的带有...的文字内容较短 */
.ant-layout-sider .slds-context-bar__primary .slds-context-bar__item{
    width: 102%;
}

.ant-layout {
  background: #fff
}
.ant-pro-page-container-children-content {
  margin: 0
}

.ant-pro-page-container-tabs {
  border-bottom: 1px solid rgb(221, 219, 218);
}

.ant-form-item-label > label {
  font-size: 12px;
  color: var(--lwc-colorTextLabel,rgb(62, 62, 60))
}

.slds-section__title {
  font-weight: inherit
}